- if flash.present?
    .flash-container
        - flash.each do |key, message|
            .ui.floating.message{class: key}
                %i.close.icon
                .header
                    %strong= "#{key.capitalize}!"
                = message.html_safe