.ui.segment
    .fields
        = f.simple_fields_for :allergies do |a| 
            = a.input :allergen
            = a.input :symptoms, as: :text, input_html: {rows: 1, cols: 60}
            = a.input :medications