$("#" + "#{@collection}").append("#{ escape_javascript(render partial: "#{@attribute}", model: @model) }")

:plain
    $('.segment .remove_attribute').on('click', function() {
        $(this).closest('.segment').remove();
    });