- if resource.errors.any?
    .error-container
        .ui.floating.negative.message
            %i.close.icon
            .header Error!
            .list
                - resource.errors.full_messages.each do |error|
                    %li= error