- if resource.errors.any?
    .ui.small.negative.message
        %i.close.icon
        .header Error!
        .list
            - resource.errors.full_messages.each do |error|
                %li= error