- headers = hashes.first.keys
%table.table.is-bordered.is-fullwidth.is-striped
    %tr
        - headers.each do |header|
            %th.has-text-weight-bold.has-text-centered
                = t(header, scope: [:headers, type.to_sym, section.to_sym])
    - hashes.each do |hash|
        %tr
            - hash.each do |key, value|
                %td= value