- headers = hashes.first.keys
- excluded = %w(errors validation_context)
.container
    %table.table.is-bordered.is-fullwidth.is-striped
        %thead
            %tr
                - headers.each do |header|
                    - next if header.in?(excluded)
                    %th
                        = t(header, scope: [:labels, type.to_sym, section.to_sym])
        %tbody
            - hashes.each do |hash|
                %tr
                    - hash.each do |key, value|
                        - next if key.in?(excluded)
                        %td= value