- headers = hashes.first.keys
%table.celled.striped.collapsing.table
    %thead
        %tr
            - headers.each do |header|
                %td= t(header, scope: [:labels, type.to_sym, section.to_sym])
    %tbody
        - hashes.each do |hash|
            %tr
                - hash.each do |key, value|
                    %td= value