%table.ui.celled.striped.table
    - section.each do |name, value|
        %tr
            %td.has-text-weight-bold
                = t(name, scope: [:labels, type.to_sym, section.to_sym])
            %td= value