.main-content
    .container.is-fluid
        %h2.title.text-center Records
        = link_to 'New Medical History', new_medical_history_path, class: 'button'
        = link_to 'New Personal Data', new_personal_data_path, class: 'button'
        
        - if @user_records.any?
            = render 'items', user_records: @user_records
        - else
            %h3.text-center No Records Yet
                