/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub pdf
 */

 @import "semantic-ui";

// Elements

html {
    height: 100%;
    font-family: serif;
}

body {
    margin: 0;
    height: 100%;
}

textarea {
    resize: none !important;
}

// Layout

.no-margin {
    margin: 0 !important;
}

.no-margin-x {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

// Flash message notification
.flash-container, .error-container {
    width: 30%;
    margin: auto;
    z-index: 200;
    position: relative;
}

// Text and background colors

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}


// Forms

label {
    display: inline-block;
    font-weight: bold;
    max-width: 100%;
}

.devise-container {
    width: 70%;
    margin: auto !important;
}

.remove_attribute {
    cursor: pointer;
    position: absolute;
    right: 0.5em;
}

// Error pages

.page-error {

}

.error-container {

}

// Icons